*{
    padding:0;
    margin:0;
}
body {
    display:flex;
    flex-direction:column;  
    background-attachment: fixed;
}






/*--------------          responsive nav bar            ---------------*/



nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width:100%;
    height: 8vh;
    background-color:#6B5F9E;
    letter-spacing: 5px;
}
nav h1 {
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color:#140D34;
}
nav ul li a {
    padding:30px;
}
.links {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 20px; 
}
.burger {
    display: none;
    cursor:pointer;
}
.burger div {
    width: 30px;
    height:3px;
    background-color: #140D34;
    margin:7px;
}
@media screen and (max-width:1024px) {
    nav ul {
        width:30%;
    }
}
@media screen and (max-width:750px){
    body {
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color:#6B5F9E;
        display:flex;
        flex-direction:column;
        align-items: center;
        width:30%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }
    
    .burger {
        display:block;
    }

}
.nav-active {
    transform:translateX(0%);
}

/*------------------------Main body (all sections)------------------------*/

.main-section {
    height:100vh;
    background-image:url(https://images.squarespace-cdn.com/content/v1/5e82ece6a24faf1f39f4d723/1588885368567-R0YPHNUV75YMENNK6UBJ/GYM-BG-Vanalinn-1.jpg?format=2500w);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: left;
}
.main-section-text{
    display:flex;
    align-items: center;
    padding:100px;
    width:40rem;
    height:30rem;
}
.main-section h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:4rem;
    padding:30px;
    display:flex;
    letter-spacing: 0.4rem;
    color:#f5554d;
    text-shadow:2px 2px 100px #60519C;
}
/* -------------------------------About section------------------------------------*/
.part-1{
    height:60vh;
    width:100%;
    display:flex;
    padding-top:120px;
    justify-content: space-around;
    background-color:#7d6fb6;
}
.img-1{
    width:45rem;
    height:30rem;
    background: rgba(255,255,255,.4);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
}
.abou-text-1 {
    width:35rem;
    height:20rem;
    background: rgba(255,255,255,.4);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:50px;
    margin:20px;
}
.abou-text-1 p {
    margin:20px;
    font-size:20px;
    letter-spacing: 1px;
}
.abou-text-1 h1 {
    margin:20px;
    text-transform: capitalize;
    letter-spacing: 1px;
}